.vscode
v1/.vscode
v2/.vscode
v1/build/*
!v1/build/Makefile
v2/Knapsack/*.o
v2/Knapsack/CMakeFiles
v2/Knapsack/CMakeFiles/*
v2/Knapsack/CMakeCache.txt
v2/Knapsack/Makefile
v2/Knapsack/cmake_install.cmake
v2/Knapsack/BB
v2/Knapsack/DP
v2/Knapsack/Heur
v2/Knapsack/testQ*
!v2/Knapsack/testQ*.cpp
!v2/Knapsack/testQ*.hpp